html {
overflow-x: hidden;
}

body {
background-color: black;
}

.navbar {
-webkit-box-shadow: 0 8px 6px -6px rgb(44, 44, 44);
-moz-box-shadow: 0 8px 6px -6px rgb(44, 44, 44);
box-shadow: 0 8px 6px -6px rgb(24, 24, 24);

/* the rest of your styling */
}

#mainNav.navbar--home{
background:black;
}

#nav-brand{
position: relative;
}
.navbar ul {
position: relative;
}
#nav-contact-btn {
position: relative;
}

#nav-link-btn {
position: relative;
}

#nav-dis-btn {
position: relative;
}

.top-nav-collapse {
background-color: #78909c !important;
}

#nav-toggler-bars{
color: white;
}

.navbar:not(.top-nav-collapse) {
background: black !important;
}
nav .navbar-brand {
font-family: Montserrat;
color: white !important;
}

nav .navbar-nav li a {
font-family: Montserrat;
color: white !important;
}

#nav-contact-btn{
    font-size: 15pt;
    color: #f0a911 !important;
}



/*        SCROLLBAR MAIN            */
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #505050;
box-shadow: inset 0 0 5px black;;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(228, 124, 27);
box-shadow: inset 0 0 5px rgb(24, 13, 3);;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(255, 161, 74);
}

.container-fluid{
position: relative;
text-align: center;
vertical-align: middle;
align-items: center;
}

#social-row {
display: table-row;
justify-content: space-around;
}

#coll{
position: absolute;
top: 250px;
}

ul{
list-style: none;
}
.soc{
padding: 0;
}
ul li{
display: inline;
}
a{
text-decoration: none;
}

i{
font-size: 15pt !important;   
letter-spacing: 1vw !important;
}

#ig-btn {
border: none;
background-color: transparent;
color: white;
}

#yt-btn {
border: none;
background-color: transparent;
color: white;
}

#as-btn{
border: none;
background-color: transparent;
color: white;
}

#gh-btn {
border: none;
background-color: transparent;
color: white;
}

#p-btn{
border: none;
background-color: transparent;
color: white;
}

#li-btn {
border: none;
background-color: transparent;
color: white;
}





#ig-btn:hover {
    transition: color linear 0.3s;
    color: #f0a911;
    }
    #yt-btn:hover {
    transition: color linear 0.3s;
    color: #f0a911;
    }
    
    #as-btn:hover{
    transition: color linear 0.3s;
    color: #f0a911;
    }
    
    #gh-btn:hover {
    transition: color linear 0.3s;
    color: #f0a911;
    }
    
    #p-btn:hover{
    transition: color linear 0.3s;
    color: #f0a911;
    }
    
    #li-btn:hover {
    transition: color linear 0.3s;
    color: #f0a911;
    }


    #text-row {
    display: table-row;
    justify-content: space-around;
}
#coll2{
    position: absolute;
}



   
.word {
    position: absolute;
    color: white;
    width: 100%;
    
  }
  .letter {
    display: inline-block;
    margin: 0 0.2vw;
    font-size: 18pt;
    min-width: 2vw; /* this is for spaces */
    transform: translate(0, 900%);
  }

  @media screen and (max-width:450px){
    .letter {
        display: inline-block;
        margin: 0 0.2vw;
        font-size: 14pt;
        min-width: 2vw; /* this is for spaces */
        transform: translate(0, 900%);
      }
      i{
        font-size: 12pt !important;   
        letter-spacing: 1vw !important;
        }
  }
