html {
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-color: black;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px rgb(44, 44, 44);
    -moz-box-shadow: 0 8px 6px -6px rgb(44, 44, 44);
    box-shadow: 0 8px 6px -6px rgb(24, 24, 24);

/* the rest of your styling */
}

#mainNav.navbar--home{
    background:black;
}

#nav-brand{
    position: relative;
}

#nav-contact-btn {
    position: relative;
}

#nav-link-btn {
    position: relative;
}

#nav-dis-btn {
    position: relative;
}

.top-nav-collapse {
    background-color: #78909c !important;
}
#nav-toggler-bars{
  color: white;
}
.navbar:not(.top-nav-collapse) {
    background: black !important;
}
nav .navbar-brand {
    font-family: Montserrat;
    color: white !important;
}

nav .navbar-nav li a {
    font-family: Montserrat;
    color: white !important;
}

#search-bar{
    position: relative;
    background: transparent;
    border-radius: 0px 0px 0px 0px;
    border: none;
    border-bottom: 1px solid #fff;
}

#search-bar:focus {
    outline: none;
    transition: box-shadow linear 1s;
    border-bottom-color: #ff2222;
    box-shadow: 0 0 10px #e8ed9e;
}



/*        SCROLLBAR MAIN            */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #505050;
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 34, 34);
  box-shadow: inset 0 0 5px rgb(24, 13, 3);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(224, 70, 70);
}










#header-title-orchestral{
  position: absolute;
  color: #fff;
  letter-spacing: 0.5vw;
  font-size: 30pt !important;
  left: 16%;
  right: 16%;
  top: 40px;
}

@media screen and (max-width: 1400px){
  .wrapper{
    width: 90%;
    padding: 25px 30px;
    position: absolute;
    top: 250px;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0px 6px 15px var(--lightbshadow);
    color: white;
    font-family: Montserrat;
  }
  .top-bar{
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 100% !important;
    left: 50% !important;
  }
  .music-list{
    position: absolute;
    background: black;
    width: 110% !important;
    
    bottom: 40%;
    opacity: 1;
    pointer-events: auto;
    z-index: 3;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    transition: all 0.15s ease-out;
    left: 85% !important;
    top: 105% !important;
  }
  .music-list ul{
    position: relative;
    max-height: 260px !important;
    margin: 10px 0;
    overflow: auto;
  }
  .song-details{
    text-align: center !important;
    margin: 30px 0;
    position: fixed;
    bottom: 40px;
    z-index: 5;
    align-items: center;
    left: 50%;
    transform: translate(-50% , 0);
    -webkit-transform: translate(-50%, 0);
    width: 90%;
  }
  .song-details .name{
    font-size: 12px !important;
    letter-spacing: 0.5vw;
  }
  .song-details .artist{
    font-size: 11px !important;
    opacity: 0.9;
    line-height: 35px;
    letter-spacing: 0.3vw;
  }
  .img-area{
    width: 90% !important;
    height: 256px !important;
    left: 50% !important;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px var(--lightbshadow);
    transform: translate(5% , 0);
  }
  #header-title-orchestral{
    position: absolute;
    color: #fff;
    letter-spacing: 0.5vw;
    font-size: 30pt !important;
    left: 13.5%;
    right: 13.5%;
    top: 100px !important;
  }
  .back-row{
    position: absolute;
    top: -4% !important;
    align-items: left;
    text-align: left;
  }

  #social-row {
    display: table-row;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    top: 100px !important;
    right: 5%;
  }
  h2{
    position: absolute;
    color: #fff;
    letter-spacing: 0.5vw;
    font-size: 2vh !important;
    left: 75%;
    bottom: -150px !important;
}
  h3{
    position: absolute;
    top: 650px !important;
    color: black;
    z-index: 10;
  }
  
  
}








.container-fluid.cont{
  position: absolute;
  z-index: -1;
  padding: 100px;
  top: 120%;
}



h2{
    position: absolute;
    color: #fff;
    letter-spacing: 0.5vw;
    font-size: 2vh !important;
    left: 75%;
    bottom: -50px;
}

h3{
  position: absolute;
  top: 500px;
  color: black;
  z-index: 10;
}

#social-row {
  display: table-row;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
  position: absolute;
  top: 10vh;
  right: 5%;
}
  
  
  
ul{
list-style: none;
text-align: center;
align-items: center;

}
.soc{
padding: 0;
}
ul li{
    display: inline;
    align-items: center;
}
a{
text-decoration: none;
}

i{
  font-size: 15pt !important;   
  letter-spacing: 1vw !important; 
}

#ig-btn {
border: none;
background-color: transparent;
color: white;
}

#yt-btn {
border: none;
background-color: transparent;
color: white;
}

#as-btn{
border: none;
background-color: transparent;
color: white;
}

#gh-btn {
border: none;
background-color: transparent;
color: white;
}

#p-btn{
border: none;
background-color: transparent;
color: white;
}

#li-btn {
border: none;
background-color: transparent;
color: white;
}





#ig-btn:hover {
    transition: color linear 0.3s;
    color: #ff2222;
  }
  #yt-btn:hover {
    transition: color linear 0.3s;
    color: #ff2222;
  }
  
  #as-btn:hover{
    transition: color linear 0.3s;
    color: #ff2222;
  }
  
  #gh-btn:hover {
    transition: color linear 0.3s;
    color: #ff2222;
  }
  
  #p-btn:hover{
    transition: color linear 0.3s;
    color: #ff2222;
  }
  
  #li-btn:hover {
    transition: color linear 0.3s;
    color: #ff2222;
  }
  




#back-btn{
  position: absolute;
  top: 91px;
}
#glyph{
  position: absolute;
  border: none;
  left: -45.3vw;
  font-size: 16pt !important;
  background-color: transparent;
  color: white;
}
#glyph:hover{
    transition: color linear 0.3s;
    color: #ff2222;
}
#portfolio-header:hover ~ #glyph{
  transition: color linear 0.3s;
  color:#ff2222;
}

#portfolio-header{
  position: absolute;
  color: #fff;
  left: -40vw;
  font-size: 12pt !important;
  letter-spacing: 0.5vw;
}

#portfolio-header:hover{
    transition: color linear 0.3s;
    color:#ff2222;
}


#footer-txt:hover{
    transition: color linear 0.6s;
    color: #ff2222;
}



/*  PLAYLIST CSS HERE!!!!  */
.wrapper.complist{
  width: 60%;
  padding: 25px 30px;
  overflow: hidden;
  position: absolute;
  top: 250px;
  left: 500px;
  border-radius: 15px;
  color: white;
}



.wrapper{
    width: 90%;
    padding: 25px 30px;
    position: absolute;
    top: 250px;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0px 6px 15px var(--lightbshadow);
    color: white;
    font-family: Montserrat;
  }
  .wrapper i{
    cursor: pointer;
  }
  .top-bar{
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 380px;
  }
  .progress-area .song-timer, 
  .controls, .music-list .header, .music-list ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-bar i{
    font-size: 30px;
    color: var(--lightblack);
  }
  .top-bar i:first-child{
    margin-left: -7px;
  }
  .top-bar span{
    font-size: 18px;
    margin-left: -3px;
    color: var(--lightblack);
  }
  .img-area{
    width: 380px;
    height: 256px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow: 0px 6px 12px var(--lightbshadow);
  }
  .img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .song-details{
    text-align: center !important;
    margin: 30px 0;
    position: fixed;
    bottom: 40px;
    z-index: 5;
    align-items: center;
    left: 50%;
    transform: translate(-50% , 0);
    -webkit-transform: translate(-50%, 0);
    
    width: 90%;
  }
  .song-details p{
    color: var(--lightblack);
  }
  .song-details .name{
    font-size: 16px;
    letter-spacing: 0.5vw;
  }
  .song-details .artist{
    font-size: 14px;
    opacity: 0.9;
    line-height: 35px;
    letter-spacing: 0.3vw;
  }
  .progress-area{
    height: 4px;
    width: 90%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
    position: fixed;
    left: 4%;
    bottom: 80px;
    z-index: 6;
  }
  .fixed-area{
    position: fixed;
    height: 183px;
    width: 100%;
    bottom: 0;
    background-color: black;
    z-index: 4;
  }
  .progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: rgb(228, 124, 27);
  }
  .progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: rgb(228, 124, 27);
    transition: opacity 0.2s ease;
  }
  .progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
  }
  .progress-area .song-timer{
    margin-top: 2px;
  }
  .song-timer span{
    font-size: 13px;
    color: var(--lightblack);
  }
  .controls{
    margin: 40px 0 5px 0;
    position: fixed;
    width: 90%;
    left: 4%;
    bottom: 10px;
    z-index: 5;
    background-color: black;
  }
  .controls i{
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white; /*next/prev/loop/shuffle/queue buttons color*/
  }
  .controls i:nth-child(2),
  .controls i:nth-child(4){
    font-size: 43px;
  }
  .controls #prev{
    margin-right: -13px;
  }
  .controls #next{
    margin-left: -13px;
  }
  .controls .play-pause{
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);;
    color: 0px 0px 5px var(--pink);
  }
  .play-pause::before{
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
  }
  .play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: white; /*Play Pause button color*/
    position: absolute;
  }
  #more-music{
    pointer-events: none;
    color: black !important;
  }


  .music-list{
    position: absolute;
    background: black;
    width: 60%;
    
    bottom: 40%;
    opacity: 1;
    pointer-events: auto;
    z-index: 3;
    padding: 15px 30px;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
    transition: all 0.15s ease-out;
    left: 85%;
    top: 5%;
    transform: translate(-85% , -5%);
    -webkit-transform: translate(-85%, -5%);
  }
  .music-list.show{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
  }
  .header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: var(--lightblack);
  }
  .header .row i{
    cursor: default;
  }
  .header .row span{
    margin-left: 5px;
  }
  .header #close{
    font-size: 22px;
    color: black !important;
    pointer-events: none;
  }
  .music-list ul{
    position: relative;
    max-height: 680px;
    margin: 10px 0;
    overflow: auto;
  }
  .music-list ul::-webkit-scrollbar{
    width: 3px !important;
  }
  .music-list ul li{
    list-style: none;
    display: flex;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    color: var(--lightblack);
    border-bottom: 1px solid #E5E5E5;
  }
  .music-list ul li:last-child{
    border-bottom: 0px;
  }
  .music-list ul li .row span{
    font-size: 14px;
  }
  .music-list ul li .row p{
    opacity: 0.9;
  }
  ul li .audio-duration{
    font-size: 12px;
    left: auto;
    right: 100px;
  }
  ul li.playing{
    pointer-events: none;
    color: var(--violet);
  }

