body {
    width: 100%;
    height: 100%;

    background-color: black;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px rgb(44, 44, 44);
    -moz-box-shadow: 0 8px 6px -6px rgb(44, 44, 44);
    box-shadow: 0 8px 6px -6px rgb(24, 24, 24);

/* the rest of your styling */
}

#mainNav.navbar--home{
    background:transparent;
}

#nav-brand{
    position: relative;
}

#nav-home-btn {
    position: relative;
}

#nav-link-btn {
    position: relative;
}

#nav-dis-btn {
    position: relative;
}

.top-nav-collapse {
    background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
nav .navbar-brand {
    font-family: Montserrat;
    color: white !important;
}

nav .navbar-nav li a {
    font-family: Montserrat;
    color: white !important;
}

#search-bar{
    position: relative;
    background: transparent;
    border-radius: 0px 0px 0px 0px;
    border: none;
    border-bottom: 1px solid #fff;
}

#search-bar:focus {
    outline: none;
    transition: box-shadow linear 1s;
    border-bottom-color: #f0a911;
    box-shadow: 0 0 10px #e8ed9e;
}


.bg{
    background-color: black;
    height:100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
div{
    column-width: auto;
}

.top-buffer{
    padding-top: 0.5vw;
    background-color: black;
    position: relative;
    top: 5vw;
    height: 25vw;
}

.overflow-cl{
    background-color: black;
    

    overflow: hidden;  
}

img {
    width: 100%;
    overflow: hidden;
}


h1{
    font-family: Montserrat;
    font-size: 1.5vw !important;
    color: white;

    position: absolute;
    opacity: 0;
    top: 45%;
}

/*      ------------------------    */
/*          UNIQUE TEXTS HERE       */
/*      ------------------------    */
#td-txt{
    /*First column center is 25% but 
    to center the text to that spot 
    we have to find a good number*/
    left: 15.7%;
}

#arch-txt{
    /*Second column center is 75% but 
    to center the text to that spot 
    we have to find a good number*/
    left: 65.8%;
}


#ta-txt{
    /*First column center is 25% but 
    to center the text to that spot 
    we have to find a good number*/
    left: 19%; 
}
#digital-txt{
    /*Second column center is 75% but 
    to center the text to that spot 
    we have to find a good number*/
    left: 70.5%;  
}

#orch-txt{
    /*First column center is 25% but 
    to center the text to that spot 
    we have to find a good number*/
    left: 14.6%;  
}
#va-txt{
    /*Second column center is 75% but 
    to center the text to that spot 
    we have to find a good number*/
    left: 69.6%;
}

/*      ---------------------------         */
/*          UNIQUE BUTTONS HERE             */
/*      ---------------------------         */
a.btn.btn-outline-white{
    padding: 0;
    background-size: cover;
    border: none;
    background-color: transparent;
    color: none;
}

#td-btn:hover #td-img{
    transition: 0.2s;
    filter: brightness(20%);
}
#td-btn:hover #td-txt{
    opacity: 100;
}

#arch-btn:hover #arch-img{
    transition: 0.2s;
    filter: brightness(20%);
}
#arch-btn:hover #arch-txt{
    opacity: 100;
}

#ta-btn:hover #ta-img{
    transition: 0.2s;
    filter: brightness(20%);
}
#ta-btn:hover #ta-txt{
    opacity: 100;
}

#digital-btn:hover #digital-img{
    transition: 0.2s;
    filter: brightness(20%);
}
#digital-btn:hover #digital-txt{
    opacity: 100;
}

#orch-btn:hover #orch-img{
    transition: 0.2s;
    filter: brightness(20%);
}
#orch-btn:hover #orch-txt{
    opacity: 100;
}

#va-btn:hover #va-img{
    transition: 0.2s;
    filter: brightness(20%);
}
#va-btn:hover #va-txt{
    opacity: 100;
}





