body {
    width: 100%;
    height: 100%;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px rgb(44, 44, 44);
    -moz-box-shadow: 0 8px 6px -6px rgb(44, 44, 44);
    box-shadow: 0 8px 6px -6px rgb(24, 24, 24);

/* the rest of your styling */
}

#mainNav.navbar--home{
    background:transparent;
}

#nav-brand{
    position: relative;
}

#nav-home-btn {
    position: relative;
}

#nav-link-btn {
    position: relative;
}

#nav-dis-btn {
    position: relative;
}

.top-nav-collapse {
    background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
nav .navbar-brand {
    font-family: Montserrat;
    color: white !important;
}

nav .navbar-nav li a {
    font-family: Montserrat;
    color: white !important;
}

#search-bar{
    position: relative;
    background: transparent;
    border-radius: 0px 0px 0px 0px;
    border: none;
    border-bottom: 1px solid #fff;
}

#search-bar:focus {
    outline: none;
    transition: box-shadow linear 1s;
    border-bottom-color: #f0a911;
    box-shadow: 0 0 10px #e8ed9e;
}


.bg{
    background-color: black;
    height:100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.row{
    background-color: black;
    position: relative;
    top: 10vh;
}



.col{
    background-color: black;
    border: none;

    height: 50vh;

    padding-left: 2vh;
    padding-right: 2vh;
    overflow: hidden;

    
}

img {
    width: 100%;
    overflow: hidden;
}
h1{
    font-family: Montserrat;
    font-size: 3vh !important;
    color: white;

}

#t-a-txt{
    position: absolute;
    translate: (50%,50%);

    
    opacity: 100; 
}
#t-s-txt{
    position: absolute;

    
    opacity: 0; 
}
a.btn.btn-outline-white{
    padding: 0;
    background-size: cover;
    border: none;
    background-color: transparent;
    color: none;
}


#traditional-art-btn:hover #traditional-art-img{
    transition: 0.2s ease-in;
    filter: brightness(30%);
}

#traditional-art-btn:hover #t-a-txt{
    transition: 0.2s ease-in;
    opacity: 100;
}

#traditional-sketches-btn:hover #traditional-sketches-img{
    transition: 0.2s ease-in;
    filter: brightness(30%);

    
}

#traditional-sketches-btn:hover #t-s-txt{
    transition: 0.2 ease-in-out;
    opacity: 100;
}





