html {
    overflow-x: hidden;
}

body {
    

    background-color: black;
}

.navbar {
    -webkit-box-shadow: 0 8px 6px -6px rgb(44, 44, 44);
    -moz-box-shadow: 0 8px 6px -6px rgb(44, 44, 44);
    box-shadow: 0 8px 6px -6px rgb(24, 24, 24);

/* the rest of your styling */
}

#mainNav.navbar--home{
    background:transparent;
}

#nav-brand{
    position: relative;
}

#nav-home-btn {
    position: relative;
}

#nav-link-btn {
    position: relative;
}

#nav-dis-btn {
    position: relative;
}

.top-nav-collapse {
    background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
nav .navbar-brand {
    font-family: Montserrat;
    color: white !important;
}

nav .navbar-nav li a {
    font-family: Montserrat;
    color: white !important;
}

#search-bar{
    position: relative;
    background: transparent;
    border-radius: 0px 0px 0px 0px;
    border: none;
    border-bottom: 1px solid #fff;
}

#search-bar:focus {
    outline: none;
    transition: box-shadow linear 1s;
    border-bottom-color: #f0a911;
    box-shadow: 0 0 10px #e8ed9e;
}

.bg{
    position: absolute;
    top: 5vh;
    margin-top: 5vh;

    display: flex;
    justify-content: space-around;

    background-color: black;
    
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.mask.rgba-black-light.align-items-center{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-fluid.cont-custom{
    width: 90%;
    position: absolute;
    top: 120px;
}



@media screen and (max-width:1100px) {

  .container-fluid.cont-custom{
    width: 90%;
    position: absolute;
    top: 180px;
  }

  #header-title-archvis{
    position: absolute;
    color: #fff;
    letter-spacing: 0.5vw;
    font-size: 30pt !important;
    left: 27%;
    right: 27%;
    top: 100px !important;
  }
  #header-title-td{
    position: absolute;
    color: #fff;
    letter-spacing: 0.5vw;
    font-size: 30pt !important;
    left: 16%;
    right: 16%;
    top: 100px !important;
}
#header-title-orchestral{
    position: absolute;
    color: #fff;
    letter-spacing: 0.5vw;
    font-size: 30pt !important;
    left: 16%;
    right: 16%;
    top: 100px !important;
}
#header-title-ta{
  position: absolute;
  color: #fff;
  letter-spacing: 0.5vw;
  font-size: 30pt !important;
  left: 13.5%;
  right: 13.5%;
  top: 100px !important;
}
#header-title-digital{
  position: absolute;
  color: #fff;
  letter-spacing: 0.5vw;
  font-size: 30pt !important;
  left: 13.5%;
  right: 13.5%;
  top: 100px !important;
}
  #back-btn{
    display: flex;
    position: absolute;
    top: 64px !important;
    align-items: left;
    text-align: left;
  }
  #glyph{
    position: absolute;
    border: none;
    left: 70% !important;
    font-size: 16pt !important;
    background-color: transparent;
    color: white;
  } 
  #portfolio-header{
    position: absolute;
    color: #fff;
    left: 150% !important;
    font-size: 12pt !important;
    letter-spacing: 0.5vw;
  }

  #social-row {
    display: table-row;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    top: 100px !important;
    right: 5%;
  }

}

.wrapper{
  height: 90vh;
  width: 100%;
  background-color: black;
  color: white;
}
#maintain{
  position: relative;
  top: 50%;
  left: 35%;
  right: 35%;
}






.top-buffer{
    background-color: black;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: wrap;

    padding: 2.5px;
}

.col-img {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 235px;

    
}

.col.col-img{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.img-fluid {
    position: absolute;
    width: auto;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    
    padding: 2.5px;
}

.iframe-container{
    padding: 5px;
}

.row > .dem {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.row.thumbnails-row {
    float: left;
    height: 65px;
}

  /* Create four equal columns that floats next to eachother */
  .dem {
    display: block;
    float: left;
  }
  .demo {
      height: 65px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 35px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: absolute;
    background-color:  black;
    margin: auto;
    padding: 0;
    width: 90%;
    width: 900px;
    height: 612px;
    display: block;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 7px;
    right: 25px;
    font-size: 25px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
    max-height: 800px;
    overflow: auto;
    background-color: black;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.col-img:hover{
    cursor: zoom-in;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

#header-title-archvis{
    position: absolute;
    color: #fff;
    letter-spacing: 0.5vw;
    font-size: 30pt !important;
    left: 13.5%;
    right: 13.5%;
    top: 40px;
}
#header-title-td{
    position: absolute;
    color: #fff;
    letter-spacing: 0.5vw;
    font-size: 30pt !important;
    left: 16%;
    right: 16%;
    top: 40px;
}
#header-title-orchestral{
    position: absolute;
    color: #fff;
    letter-spacing: 0.5vw;
    font-size: 30pt !important;
    left: 16%;
    right: 16%;
    top: 40px;
}
#header-title-ta{
  position: absolute;
  color: #fff;
  letter-spacing: 0.5vw;
  font-size: 30pt !important;
  left: 13.5%;
  right: 13.5%;
  top: 40px;
}
#header-title-digital{
  position: absolute;
  color: #fff;
  letter-spacing: 0.5vw;
  font-size: 30pt !important;
  left: 13.5%;
  right: 13.5%;
  top: 40px;
}








h2{
    position: absolute;
    color: #fff;
    letter-spacing: 0.5vw;
    font-size: 2vh !important;
    left: 75%;
}

h3{
    color: #000;
}

#social-row {
    display: table-row;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    position: absolute;
    top: 10vh;
    right: 5%;
}
  
  
  
ul{
list-style: none;

text-align: center;
align-items: center;

}
.soc{
padding: 0;
}
ul li{
    display: inline;
    align-items: center;
}
a{
text-decoration: none;
}

i{
    font-size: 15pt !important;   
    letter-spacing: 1vw !important;
}

#ig-btn {
border: none;
background-color: transparent;
color: white;
}

#yt-btn {
border: none;
background-color: transparent;
color: white;
}

#as-btn{
border: none;
background-color: transparent;
color: white;
}

#gh-btn {
border: none;
background-color: transparent;
color: white;
}

#p-btn{
border: none;
background-color: transparent;
color: white;
}

#li-btn {
border: none;
background-color: transparent;
color: white;
}





#ig-btn:hover {
    transition: color linear 0.3s;
    color: #f0a911;
  }
  #yt-btn:hover {
    transition: color linear 0.3s;
    color: #f0a911;
  }
  
  #as-btn:hover{
    transition: color linear 0.3s;
    color: #f0a911;
  }
  
  #gh-btn:hover {
    transition: color linear 0.3s;
    color: #f0a911;
  }
  
  #p-btn:hover{
    transition: color linear 0.3s;
    color: #f0a911;
  }
  
  #li-btn:hover {
    transition: color linear 0.3s;
    color: #f0a911;
  }
  




#back-btn{
  display: flex;
  position: absolute;
  top: 91px;
  align-items: left;
  text-align: left;
}
#glyph{
    position: absolute;
    border: none;
    left: 300%;
    font-size: 16pt !important;
    background-color: transparent;
    color: white;
}
#glyph:hover{
    transition: color linear 0.3s;
    color: #f0a911;
}

#portfolio-header{
    position: absolute;
    color: #fff;
    left: 400%;
    font-size: 12pt !important;
    letter-spacing: 0.5vw;
}

#portfolio-header:hover{
    transition: color linear 0.3s;
    color:#f0a911;
}

#footer-txt:hover{
    transition: color linear 0.6s;
    color: #f0a911;
}